@import "../../vars.css";

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 49px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
}


.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-text);
    z-index: 1;
}

.title {
    font-size: 72px;
    font-weight: 600;
    margin-bottom: 33px;
    font-family: var(--font-roboto);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 0) 120%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.description {
    font-size: 30px;
    font-family: var(--font-roboto);
    margin-bottom: 52px;
}

.contactBtn{
    display: flex;
    align-items: center;
    gap: 14px;
    background-color: var(--color-secondary);
    border-radius: 10px;
    padding: 17px 20px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}
